/* src/components/CardList.css */
.cardlist-container {
  text-align: center;
  color: #f8f8f2;
  background-color: #282a36;
  min-height: 100vh;
  padding: 50px 20px;
}

.add-button {
  margin-bottom: 20px;
  padding: 12px 24px;
  background-color: #bd93f9;
  color: #282a36;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #caa9fa;
}

.cardlist-content {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
